<%= medium_spinner_tag 'time_filter_spinner' %>
<table cellpadding="0" cellspacing="0" border="1" class="table" id="district_compliance_table">
  <thead>
    <tr>
      <th colspan="1"> <center> Visitors </center> </th>
      <th colspan="3"> <center> Forms Statistics </center> </th>
      <th colspan="2"> <center> Complaince Statistics </center></th>
    </tr>
    <tr>
      <th><center> Name                   </center> </th>
      
      <th><center> Total Monitoring Forms </center> </th>
      <th><center> Total Reporting Forms  </center> </th>
      <th><center> Forms Total            </center> </th>

      <th><center> Total Compliance   </center> </th>
      <th> <center> Attendance (Number of days in field) </center> </th>
    </tr> 
  </thead>

  <% @visitors.each do |v| %>
    <tr>
      <td> <center> <%= link_to v.name, compliance_report_user_path(v) %> </center> </td>

      <% if @time_filter.blank? %>
        <td>
          <center>
           <%= v.total_form_submitted_used_for_monitoring_compliance(Date.today.beginning_of_month - 1.month) %>
          </center>
        </td>

        <td>
          <center>
            <%= v.total_form_submitted_used_for_reporting_compliance(Date.today.beginning_of_month - 1.month) %>
          </center>
        </td>

        <td>
          <center>
            <%= v.total_forms_count(Date.today.beginning_of_month - 1.month) %>
          </center>
        </td>


        <td> <center> <%= v.total_monitoring_compliance(Date.today.beginning_of_month - 1.month) %> </center> </td>
        <td> <center> <%= v.number_of_unique_days_in_field(Date.today.beginning_of_month - 1.month) %> </center> </td>
      <% else %>
        <td>
          <center>
           <%= v.total_form_submitted_used_for_monitoring_compliance(@time_filter) %>
          </center>
        </td>

        <td>
          <center>
            <%= v.total_form_submitted_used_for_reporting_compliance(@time_filter) %>
          </center>
        </td>

        <td>
          <center>
            <%= v.total_forms_count(@time_filter) %>
          </center>
        </td>

        <td> <center> <%= v.total_monitoring_compliance(@time_filter) %> </center> </td>
        <td> <center> <%= v.number_of_unique_days_in_field(@time_filter) %> </center> </td>
      <% end %>
    </tr>
  <% end %>
</table>
