<%= medium_spinner_tag 'time_filter_spinner' %>
<table cellpadding="0" cellspacing="0" border="1" class="table" id="district_compliance_table" style="border-collapse: separate;">
  <thead>
<!--     <tr>
      <th colspan="1"> <center> Visitors </center> </th>
      <th colspan="1"> <center> Forms Statistics </center> </th>
      <th colspan="1"> <center> Complaince Statistics </center></th>
      <th colspan="2"> <center> Attendance Statistics </center></th>
    </tr>
 -->    <tr>
      <th><center> Name                   </center> </th>
      <th><center> Forms Required  </center> </th>
      <th><center> Total Monitoring Forms </center> </th>

      <th><center> Compliance Percentage </center> </th>
      <th><center> Required Days in Field </center> </th>
      <th> <center> Number of days in field </center> </th>
      <th> <center> Attendance Percentage </center> </th>
    </tr> 
  </thead>

  <% @visitors.each do |v| %>
    <tr>
      <td> <center> <%= link_to v.name, compliance_report_user_path(v) %> </center> </td>

      <% if @time_filter.blank? %>
        <td> <center> <%= v.required_forms %> </center> </td>
        <td>
          <center>
           <%= v.total_form_submitted_used_for_monitoring_compliance(Date.today.beginning_of_month - 1.month) %>
          </center>
        </td>

        <% @compliance_percentage = v.total_monitoring_compliance(Date.today.beginning_of_month - 1.month) %>
        <% if @compliance_percentage < 50 %>
          <td style="background-color: red"> <center> <%= @compliance_percentage.to_s + "%" %> </center> </td>
        <% else %>
          <td> <center> <%= @compliance_percentage.to_s + "%" %> </center> </td>
        <% end %>

        <td> <center> <%= v.days_required  %> </center> </td>
        <td> <center> <%= v.number_of_unique_days_in_field(Date.today.beginning_of_month - 1.month) %> </center> </td>
        <% @attendance_percentage = v.number_of_days_in_field(Date.today.beginning_of_month - 1.month) %>
        
        <% if @attendance_percentage < 50 %>
          <td style="background-color: red"> <center> <%= @attendance_percentage.to_s + "%" %> </center> </td>
        <% else %>
          <td> <center> <%= @attendance_percentage.to_s + "%" %> </center> </td>
        <% end %>
      <% else %>
        <td> <center> <%= v.required_forms %> </center> </td>
        <td>
          <center>
            <%= v.total_form_submitted_used_for_monitoring_compliance(@time_filter) %>
          </center>
        </td>

        <% @compliance_percentage = v.total_monitoring_compliance(@time_filter) %>
        <% if @compliance_percentage < 50 %>
          <td style="background-color: red"> <center> <%= @compliance_percentage.to_s + "%" %> </center> </td>
        <% else %>
          <td> <center> <%= @compliance_percentage.to_s + "%" %> </center> </td>
        <% end %>

        <td> <center> <%= v.days_required  %> </center> </td>
        <td> <center> <%= v.number_of_unique_days_in_field(@time_filter) %> </center> </td>
        <% @attendance_percentage = v.number_of_days_in_field(@time_filter) %>

        <% if @attendance_percentage < 50 %>
          <td style="background-color: red"> <center> <%= @attendance_percentage.to_s + "%" %> </center> </td>
        <% else %>
          <td> <center> <%= @attendance_percentage.to_s + "%" %> </center> </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
