<%= medium_spinner_tag 'time_filter_spinner' %>
<table cellpadding="0" cellspacing="0" border="1" class="table" id="district_compliance_table">
  <thead>
    <tr>
      <th colspan="2"> <center> Visitors </center> </th>
      <th colspan="7"> <center> Monitoring Forms </center> </th>
      <th colspan="1"> <center> Visits Performed </center></th>
      <th colspan="3"> <center> Compliance </center></th>
    </tr>
    <tr>
      <th>Name</th>
      <th><center> No. of LHW's                </center> </th>
      <th><center> Reporting Child Health      </center> </th>
      <th><center> Reporting Maternal Health   </center> </th>
      <th><center> Reporting Community Meeting </center> </th>
      <th><center> Reporting Family Planning   </center> </th>
      <th><center> Reporting Facility         </center> </th>
      <th><center> Reporting Birth Death        </center> </th>
      <th><center> Reporting Treatment         </center> </th>
      <th><center> Total                       </center> </th>
      <th><center> Form                </center> </th>
      <th> <center> LHW's Visited        </center></th>
      <th> <center> Attendance     </center></th>
    </tr> 
  </thead>
  <% @visitors.each do |v| %>
  <tr>
    <td> <center> <%= link_to v.name, compliance_report_user_path(v) %> </center> </td>
    <td> <center> <%= v.lhw_details.count %> </center> </td>

    <% if @time_filter.blank? %>
      <% Visitor::NOT_USED_IN_MONITORING_COMPLIANCE.each do |type| %>
        <td> <center> <%= v.phone_entries.where(type: type, start_time: Date.today.beginning_of_month-1.month..Date.today.end_of_month-1.month).count %>
        </center> </td>
      <% end %>

      <td> <center> <%= v.total_form_submitted_used_for_reporting_compliance(Date.today.beginning_of_month) %> </center> </td>
      <td> <center> <%= v.total_form_reporting_compliance(Date.today.beginning_of_month) %> </center> </td>
      <td> <center> <%= v.number_of_lhw_visited_compliance(Date.today.beginning_of_month) %> </center> </td>
      <td> <center> <%= v.number_of_days_in_field(Date.today.beginning_of_month) %> </center> </td>
    <% else %>
      <% Visitor::NOT_USED_IN_MONITORING_COMPLIANCE.each do |type| %>
      <td> <center> <%= v.phone_entries.where(type: type, start_time: @time_filter..@time_filter.end_of_month).count %>
      </center> </td>
      <% end %>

      <td> <center> <%= v.total_form_submitted_used_for_reporting_compliance(@time_filter) %> </center> </td>
      <td> <center> <%= v.total_form_reporting_compliance(@time_filter) %> </center> </td>
      <td> <center> <%= v.number_of_lhw_visited_compliance(@time_filter) %> </center> </td>
      <td> <center> <%= v.number_of_days_in_field(@time_filter) %> </center> </td>
    <% end %>
  </tr>
  <% end %>
</table>
