<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>LHW Monitoring Program</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <%= include_gon %> 
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <% if request_from_pdfkit? %>
      <script type="text/css" src="<%= File.read(Rails.root.join("public","stylesheets","application.css")) %>" </script>
    <% else %>
		<%= stylesheet_link_tag "application", :media => 'all' %>
	<% end %>
  <%= csrf_meta_tags %>
</head>
<body id = "<%="#{controller_name}_controller"%>", class = "<%="#{action_name}_action"%>">
	<%= javascript_include_tag "application" %>

	<%= image_tag "header1.png", style: "margin-left: 60px;" %>

	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner" style="margin: 0px 60px 0px 60px">
			<div class="container">
			
			 <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			  <%= link_to "LHW Monitoring", root_path,:class=>"brand", :method => :get %>
			<div class="nav-collapse">
			<ul class="nav">
			  <% if user_signed_in? %>

			  <li class="dropdown">

				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
				<i class="icon-signal icon-white"></i> Compliance
				<b class='caret'></b>
				</a>
						<ul class="dropdown-menu">
						  <li>
						  	<%= link_to "Compliance Percentage", compliance_table_district_path(District.find(5)) %>
						  </li>
						  <li class="divider"></li>
							<li>
								<%= link_to "Monitoring Summary", monitoring_compliance_table_district_path(District.find(5)) %>
							</li>
							<li>
								<%= link_to "Reporting Summary", reporting_compliance_table_district_path(District.find(5)) %>
							</li>
							<li>
								<%= link_to "Compliance Graph", reporting_compliance_table_district_path(District.find(5)) %>
							</li>
						</ul>
				</li>

			 <% if can? :manage, current_user %>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
				  <i class="icon-user icon-white"></i> User Management
				  <b class='caret'></b>
				</a>
				<ul class="dropdown-menu">
				  <li><%= link_to "Create new account", new_user_registration_path, :method => :get %></li>
				  <li><%= link_to "Manage accounts", users_path, :method => :get %></li>
				</ul>
			  </li>
			  <% end %>

			  <li>
			  	<%= link_to 'http://lhwp.punjab.gov.pk/Application/Reports/LHW_Reports.aspx?MenuBox=0', target: "_blank" do%>
			  		<i class="icon-white">
			  			LHWWebsite
			  		</i>
			  	<% end %> 
			  </li>

			  <li style="margin-left: 50px"> <%= link_to destroy_user_session_path, :method => :delete do%> <i class="icon-off icon-white"></i> <%="Logout ("+current_user.username+")"%> <% end%></li>
			  <% end %>
			</ul>
			</div>
		  </div>
		</div>
	  </header>
	  <div class="container master-container">

		<% if notice %>
		  <div class="alert alert-success fade in" data-alert="alert">
			<a class="close" data-dismiss='alert' href="#">×</a>
			<p><%= notice %></p>
		  </div>
		<% end %>

		<% if flash[:warning] %>
			<div class="alert alert-block">
			<a class="close" data-dismiss="alert">×</a>
			<h4 class="alert-heading">Warning!</h4>
			<p><%= flash[:warning] %> </p>
			</div>
		<% end %>
		
		<% if flash[:alert] %>
		  <div class="alert alert-error fade in" data-alert="alert">
			<a class="close" data-dismiss='alert' href="#">×</a>
			<p><%= flash[:alert] %></p>
		  </div>
		<% end %>

		<% if flash[:error] %>
		  <div class="alert alert-error fade in" data-alert="alert">
			<a class="close" data-dismiss='alert' href="#">×</a>
			<p><%= flash[:error] %></p>
		  </div>
		<% end %>

		<%= yield %>

  </div>
  <hr>
  <footer class="container">
  <%= yield :scripts %>
 Copyright 2012 LHW
  </footer>
</body>
</html>
